<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Walter+Turncoat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <%-include('adminHeader.ejs')%>

    <h2 class="mb-2">Quản Lý Chuyên Mục</h2>
    <div class="tables-container">
        <div class="main-category">
            <!-- alerts -->
            <% parameters = typeof parameters !== 'object' ? {} : parameters %>
            <% if (parameters.delete === 'success') { %>
              <div class="alert alert-success alert-dismissible fade show infoAlert" role="alert">
                Xóa chuyên mục thành công.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% } %>
            <% if (parameters.delete === 'failure') { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong> Đã có lỗi xảy ra </strong> khi xóa chuyên mục.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% } %>
            <% if (parameters.create === 'success') { %>
                <div class="alert alert-success alert-dismissible fade show infoAlert" role="alert">
                  Tạo chuyên mục thành công.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              <% } %>
              <% if (parameters.create === 'failure') { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong> Đã có lỗi xảy ra </strong> khi tạo chuyên mục.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              <% } %>

            <script>
                $(".alert").alert();
            </script>

            <div id="alertSpace"></div>

            <script>
                function createAlert (message)
                {
                    const location = document.querySelector('#alertSpace');
                    const element = document.createElement("div");
                    element.innerText = message;
                    element.setAttribute('class', 'alert alert-danger alert-dismissible fade show');
                    element.setAttribute('role', 'alert');
                    const closeButton = document.createElement("button");
                    closeButton.setAttribute('type', 'button');
                    closeButton.setAttribute('class', 'btn-close');
                    closeButton.setAttribute('data-bs-dismiss', 'alert');
                    closeButton.setAttribute('aria-label', 'Close');
                    element.appendChild(closeButton);
                    location.appendChild(element);
                }

                async function attemptAdd ()
                {                    
                    const value = $('#name').val();
                    if (value.length === 0)
                    {
                        createAlert("Cần nhập tên chuyên mục");
                        return;
                    }
                    if (!confirm(`Tạo chuyên mục ${value}?`))
                        return;
                    try
                    {
                        const res = await fetch(`/admin/categories/exists?name=${value}`);
                        if (!res.ok)
                        {
                            throw new Error(`Cannot fetch. Response status: ${res.status}`);
                        }

                        const exist = await res.json();
                        if (exist)
                        {
                            createAlert("Đã tồn tại chuyên mục này.");
                            return;
                        }
                        $('#addCategoryForm').submit();
                    }
                    catch (err)
                    {
                        console.error(err);
                    }
                }
            </script>

            <h3>Chuyên Mục Chính</h3>

            <script>
                function attemptDelete(i)
                {
                    jqString = '#delete_' + i.toString();
                    if (confirm("Xóa chuyên mục này?"))
                    {
                        $(jqString).submit();
                    }
                }
            </script>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên Chuyên Mục</th>
                        <th> &nbsp; </th>
                    </tr>
                </thead>
                <tbody id="main-category-table">
                    
                    <% parameters = typeof parameters !== 'object' ? { categories : [] } : parameters %>
                    <% categories = parameters.categories %>
                    <% for (let i = 0; i < categories.length; i++) { %>
                        <tr>
                            <td> <%= categories[i]._id %> </td>
                            <td> <%= categories[i].name %> </td>
                            <form id="delete_<%= i %>" action="/admin/categories/delete" method="post">
                                <input name="_id" type="text" value="<%= categories[i]._id %>" hidden>
                            </form>
                            
                            <td> 
                                <a title="Xóa chuyên mục" class="btn btn-danger" href="javascript: attemptDelete(<%= i %>)" role="button"> <i class="bi bi-trash3"></i> </a> 
                            </td>
                        </tr>
                    <% } %> 
                </tbody>
            </table>

            <table style="width: 100%;">
                <tbody style="height: 3em;">
                    <form id="addCategoryForm" action="/admin/categories/create" method="post" class="form-control">
                    <tr>
                        <td>
                            <label for="name"> Tạo chuyên mục mới </label>
                        </td>
                        <td>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Tên chuyên mục" autocomplete="off" required>
                        </td>
                        <td> 
                            <a title="Xác nhận tạo chuyên mục" class="btn btn-success" href="javascript: attemptAdd()" role="button"> <i class="bi bi-plus-square"></i> </a>
                        </td> 
                    </tr>
                    </form>
                </tbody>
            </table>

        </div>
    </div>

    <%-include('adminFooter.ejs')%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>