<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Electronic Newspaper</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <%-include('header.ejs')%>
    <main>
        <div class="content" id="content">
          <h2 class="homepage-title">Trang Chủ</h2>
            <div class="search-container">
                <input type="text" placeholder="Tìm kiếm...">
                <i class='bx bx-search'></i>
            </div>
            <div class="tag-list">
              <% for(let i = 0; i < tags.length; i++) { %>
                <span class="tag"><a href="/tag/<%= tags[i]._id %>"><%= tags[i].name %></a></span>
            <% } %>
            </div>
            <div class="slide-show">
              <div class="list-slide">
                <% for (let i = 0; i < postOfWeek.length; i++) {%>
                  <div class="item">
                    <a href="/detailPage/<%=postOfWeek[i]._id%>">
                    <%-postOfWeek[i].image%>
                    </a>
                  </div>
                <%}%>
              </div>
              <div class="buttons">
                <button id="prev"><</button>
                <button id="next">></button>
              </div>
              <div class="dots">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
              </div>
              <div class="banner-menu">
                <% for (let i = 0; i < postOfWeek.length; i++) {%>
                  <a class="info" href="/detailPage/<%=postOfWeek[i]._id%>">
                    <h2 class="title"><%=postOfWeek[i].title%></h2>
                    <p class="category"><%-postOfWeek[i].subCategory%></p>
                    <span class="date">
                      <% 
                      let date = new Date(postOfWeek[i].publishedDate);
                      let formattedDate = date.toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' });
                    %>
                    <%= formattedDate %>
                    </span>
                  </a>    
                <% }%>
                </div>
            </div>
            <div class="home-page-content" id="home-page-content">
              <h2 class="title-top-view">
                10 Bài Viết Được Xem Nhiều Nhất
              </h2>
              <div class="most-view-1" id="scrollable">
                <div class="list-item">
                  <% for (var i = 0; i < postMostView.length; i++) { %>
                    <a class="item" href="/detailPage/<%=postMostView[i]._id%>">
                      <%-postMostView[i].image%>
                      <div class="info">
                        <div class="title"><%=postMostView[i].title%></div>
                        <div class="category"><%=postMostView[i].subCategory%></div>
                        <div class="date">
                          <% 
                          let date = new Date(postMostView[i].publishedDate);
                          let formattedDate = date.toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' });
                        %>
                        <%= formattedDate %>
                        </div>
                      </div>
                    </a>
                  <% } %>
                </div>
              </div>
              <div class="case-button-1">
                <li class="active"></li><li></li><li></li><li></li>
              </div>
              <h2 class="list-today"><i class='bx bxs-square'></i> 10 Bài Viết Mới Nhất</h2>
              <div class="most-view-2" id="scrollable">
                <div class="list-item">
                  <% for (var i = 0; i < postNew.length; i++) { %>
                    <a class="item" href="/detailPage/<%=postNew[i]._id%>">
                      <%-postNew[i].image%>
                      <div class="info">
                        <div class="title"><%=postNew[i].title%></div>
                        <div class="category"><%=postNew[i].subCategory%></div>
                        <div class="date">
                          <% 
                          let date = new Date(postNew[i].publishedDate);
                          let formattedDate = date.toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' });
                        %>
                        <%= formattedDate %>
                        </div>
                      </div>
                    </a>
                  <% } %>
                </div>
              </div>
              <div class="case-button-2">
                <li class="active"></li><li></li><li></li><li></li>
              </div>
              <div class="hot-category">
                <h2><i class='bx bx-news' style="margin-right: 10px;"></i >Chuyên mục Hot</h2>
                <div class="list-category" id="scrollable">
                  <% for (var i = 0; i < hotCategory.length; i++) { %>
                    <a id="cate" class="<%= i === 0 ? 'hightlight' : '' %>" data-category="<%= hotCategory[i]._id %>" data-post="<%= JSON.stringify(hotCategory[i].latestPost) %>"><i class='bx bxs-hot'></i><span><%=hotCategory[i]._id%></span></a>
                    <% } %>
                </div>
              </div>
              <a class="post-new" id="post-new" href="/detailPage/<%=hotCategory[0].latestPost._id%>">
                <div class="img-post" id="img-post">
                  <%-hotCategory[0].latestPost.image%>
                </div>
                <h2 class="title" id="post-title"><%=hotCategory[0].latestPost.title%></h2>
                <p class="category" id="post-category"><%=hotCategory[0].latestPost.subCategory%></p>
                <p class="date" id="post-date"><%=hotCategory[0].latestPost.publishedDate.toLocaleDateString()%></p>
              </a>
            </div>
        </div>
    </main>
    <%-include('footer.ejs')%>
    <script src="/js/handle-homepage.js"></script>
    <script src="/js/handle-taglist.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>