<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Electronic Newspaper</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/listItem.css">
</head>
<body>
    <%-include('header.ejs')%>
    <main>
        <div class="content" id="content">
          <div class="search-container">
            <form action="/search" method="GET" class="search-form">
              <input type="text" name="q" placeholder="Tìm kiếm..." required>
              <button type="submit">
                <i class='bx bx-search'></i>
              </button>
            </form>
          </div>          
          <div class="tag-list">
            <% for(let i = 0; i < tags.length; i++) { %>
              <span class="tag"><a href="/tag/<%= tags[i]._id %>"><%= tags[i].name %></a></span>
            <% } %>
          </div>
          <% if (posts.length > 0) {%>
            <div class="box-item">
              <div class="list-news">
                <% posts.forEach(post => { %>
                  <a class="link-item" href="/detailPage/<%=post._id%>">
                    <div class="news-item">
                      <%-post.image%>
                      <div class="news-title"><%= post.title %></div>
                      <div class="news-abstract">
                        <%= post.abstract.length > 15 ? post.abstract.slice(0, 100) + '[...]' : post.abstract %>
                      </div>                  
                      <div class="date-cate">
                        <div class="news-date">
                          <% 
                            let date = new Date(post.publishedDate);
                            let formattedDate = date.toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' });
                          %>
                          <%= formattedDate %>
                          <%= post.type%>
                        </div>                  
                        <div class="news-category">
                          <% if (post.categories && post.categories.length > 0 && post.categories[0].name) { %>
                            <%= post.categories[0].name %>
                          <% } else { %>
                          <% } %>
                          <%= post.subCategory %>
                        </div>                        
                      </div>
                      <div class="news-tags">
                        <p>Tags: </p>
                        <% post.tagNames.forEach(tagName => { %>
                            <span><%= tagName %></span>
                        <% }) %>
                      </div>
                    </div>
                  </a>
                <% }) %>
              </div>
            </div>            
          <%}
          else { %>
            <div class="no-posts">
              <i class='bx bx-receipt'></i>
              <p>Chưa có bài viết nào! Bạn có thể xem các chuyên mục hoặc tag khác</p>
            </div>
          <% } %>
          
          <div class="list-page">
            <% if (currentPage > 1) {%>
            <a href="<%= isCategoryPage ? '/category/' + id + '?page=' + (currentPage - 1) : isTagPage ? '/tag/' + id + '?page=' + (currentPage - 1) : '/subcategory/' + id + '?page=' + (currentPage - 1) %>"><i class='bx bxs-chevrons-left' id="prev-btn"></i></a>
            <%} %>
            <div class="list-number">
              <% for (let page = 1; page <= totalPage; page++) { %>
                <li>
                  <a href="<%= isCategoryPage ? '/category/' + id + '?page=' + page : isTagPage ? '/tag/' + id + '?page=' + page : '/subcategory/' + id + '?page=' + page %>"
                    class="<%= page === currentPage ? 'current' : '' %>">
                    <%= page %>
                  </a>
                </li>
              <% } %>
            </div>            
            <% if (currentPage < totalPage) {%>
              <a href="<%= isCategoryPage ? '/category/' + id + '?page=' + (currentPage + 1) : isTagPage ? '/tag/' + id + '?page=' + (currentPage + 1) : '/subcategory/' + id + '?page=' + (currentPage + 1) %>"><i class='bx bxs-chevrons-right' id="next-btn"></i></a>
            <%} %>
          </div>
        </div>
    </main>
    <%-include('footer.ejs')%>
    <script src="/js/handle-listpost.js"></script>
    <script src="/js/handle-taglist.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>