<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Walter+Turncoat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <%-include('adminHeader.ejs')%>

    <h2 class="mb-2">Quản Lý Nhãn</h2>
    <div class="tables-container">
        <div class="main-category">
            <!-- alerts -->
            <% parameters = typeof parameters !== 'object' ? {} : parameters %>
            <% if (parameters.delete === 'success') { %>
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                Xóa nhãn thành công.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% } %>
            <% if (parameters.delete === 'failure') { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong> Đã có lỗi xảy ra </strong> khi xóa nhãn.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% } %>
            <% if (parameters.create === 'success') { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  Tạo nhãn thành công.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>
            <% if (parameters.create === 'failure') { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong> Đã có lỗi xảy ra </strong> khi tạo nhãn.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>

            <div id="alertSpace"></div>

            <script>
                function createAlert (message)
                {
                    const location = document.querySelector('#alertSpace');
                    const element = document.createElement("div");
                    element.innerText = message;
                    element.setAttribute('class', 'alert alert-danger alert-dismissible fade show');
                    element.setAttribute('role', 'alert');
                    const closeButton = document.createElement("button");
                    closeButton.setAttribute('type', 'button');
                    closeButton.setAttribute('class', 'btn-close');
                    closeButton.setAttribute('data-bs-dismiss', 'alert');
                    closeButton.setAttribute('aria-label', 'Close');
                    element.appendChild(closeButton);
                    location.appendChild(element);
                }

                async function attemptAdd ()
                {                    
                    const value = $('#name').val();
                    if (value.length === 0)
                    {
                        createAlert("Cần nhập tên nhãn.");
                        return;
                    }
                    if (!confirm(`Tạo nhãn "${value}"?`))
                        return;
                    try
                    {
                        const res = await fetch(`/admin/tags/exists?name=${value}`);
                        if (!res.ok)
                        {
                            throw new Error(`Cannot fetch. Response status: ${res.status}`);
                        }

                        const exist = await res.json();
                        if (exist)
                        {
                            createAlert("Đã tồn tại nhãn này.");
                            return;
                        }
                        $('#addTagForm').submit();
                    }
                    catch (err)
                    {
                        console.error(err);
                    }
                }
            </script>

            <h3> Danh sách nhãn </h3>

            <script>
                function attemptDelete(i)
                {
                    jqString = '#delete_' + i.toString();
                    if (confirm("Xóa nhãn này?"))
                    {
                        $(jqString).submit();
                    }
                }
            </script>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên nhãn</th>
                        <th> &nbsp; </th>
                    </tr>
                </thead>
                <tbody id="main-category-table">
                    
                    <% parameters = typeof parameters !== 'object' ? { tags : [] } : parameters %>
                    <% tags = parameters.tags %>
                    <% for (let i = 0; i < tags.length; i++) { %>
                        <tr>
                            <td> <%= tags[i]._id %> </td>
                            <td> <%= tags[i].name %> </td>
                            <form id="delete_<%= i %>" action="/admin/tags/delete" method="post">
                                <input name="_id" type="text" value="<%= tags[i]._id %>" readonly hidden>
                            </form>
                            
                            <td>
                                <a style="margin-right: 5px;" title="Xem chi tiết nhãn" class="btn btn-primary" href="/admin/tags/details?id=<%= tags[i]._id %>" role="button"> <i class="bi bi-card-list"></i> </a>
                                <a title="Xóa nhãn" class="btn btn-danger" href="javascript: attemptDelete(<%= i %>)" role="button"> <i class="bi bi-trash3"></i> </a> 
                            </td>
                        </tr>
                    <% } %> 
                    <% if (tags.length === 0) { %>
                        <tr>
                            <td colspan="2" style="text-align: center;"> Chưa có nhãn nào. Tạo nhãn mới ở bên dưới. </td>
                            <td></td>
                        </tr> 
                    <% } %>
                </tbody>
            </table>

            <table style="width: 100%;">
                <tbody style="height: 3em;">
                    <form id="addTagForm" action="/admin/tags/create" method="post" class="form-control">
                    <tr>
                        <td>
                            <label for="name"> Tạo nhãn mới </label>
                        </td>
                        <td>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Tên nhãn" autocomplete="off" required>
                        </td>
                        <td> 
                            <a title="Xác nhận tạo nhãn" class="btn btn-success" href="javascript: attemptAdd()" role="button"> <i class="bi bi-plus-square"></i> </a>
                        </td> 
                    </tr>
                    </form>
                </tbody>
            </table>

        </div>
    </div>

    <%-include('adminFooter.ejs')%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>