<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Walter+Turncoat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <%-include('adminHeader.ejs')%>

    <h2 class="mb-2">Quản Lý Bài Viết</h2>

    <% parameters = typeof parameters !== 'object' ? { posts : [] } : parameters %>
    <% posts = parameters.posts %>

    <% if (parameters.delete === 'success') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          Xóa bài viết thành công.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <% if (parameters.delete === 'failure') { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong> Đã có lỗi xảy ra </strong> khi xóa bài viết.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <% if (parameters.publish === 'success') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          Xuất bản bài viết thành công.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <% if (parameters.publish === 'failure') { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong> Đã có lỗi xảy ra </strong> khi xuất bản bài viết.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <script>
        function attemptDelete (id)
        {
            jqString = '#delete_' + id.toString();
            if (confirm("Xóa bài viết này?"))
            {
                $(jqString).submit();
            }
        }
        function attemptPublish (id)
        {
            jqString = '#publish_' + id.toString();
            if (confirm("Xuất bản bài viết này?"))
            {
                $(jqString).submit();
            }
        }
    </script>

    <table class="table">
        <tbody style="height: auto;">
            <tr>
                <td> Tạo bài viết mới </td>
                <td> <a class="btn btn-success" href="/writer/createPost" target="_blank" rel="noreferrer noopener" role="button"> <i class="bi bi-plus-square"></i> </a> </td>
            </tr>
        </tbody>
    </table>

    <div class="container postList">
        <div class="row">
            <% for (let i = 0; i < posts.length; i++) { %>
                <div class="col col-12 col-lg-6 mb-2">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5> <%= posts[i].title %> </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-title"> 
                                Chuyên mục: 
                                <% if (posts[i].name) { %>
                                    <%= posts[i].name %>
                                    <% if (posts[i].subCategory) { %>
                                        - <%= posts[i].subCategory %>
                                    <% } %>
                                <% } else { %>
                                    Không có
                                <% } %>
                            <p>
                            <p class="card-title"> <i> <%= posts[i].nickname %> </i> viết </p>
                            <p class="card-title text-muted"> <%= posts[i].state %> </p>
                            <p class="card-text"> <%- posts[i].abstract %> </p>
                        </div>
                        <form id="delete_<%= i %>" action="/admin/posts/delete" method="post">
                            <input type="text" name="_id" value="<%= posts[i]._id %>" readonly hidden>
                        </form>
                        <div class="card-footer">
                            <a title="Xem bài viết" class="btn btn-primary me-1" href="/detailPage/<%= posts[i]._id %>" target="_blank" rel="noreferrer noopener" role="button"> <i class="bi bi-eye"></i> </a>
                            <a title="Chỉnh sửa bài viết" class="btn btn-primary me-1" href="/writer/edit/<%= posts[i]._id %>" target="_blank" rel="noreferrer noopener" role="button"> <i class="bi bi-pencil"></i> </a>
                            <a title="Xóa bài viết" class="btn btn-danger me-1" href="javascript: attemptDelete(<%= i %>)" role="button"> <i class="bi bi-trash3"></i> </a>
                            <% if (posts[i].state === 'Chưa được duyệt' || posts[i].state === 'Đã được duyệt và chờ xuất bản') { %>
                                <a title="Duyệt và xuất bản bài viết" class="btn btn-success" href="javascript: attemptPublish(<%= i %>)" role="button"> <i class="bi bi-check-circle"></i> </a>
                                <form id="publish_<%= i %>" action="/admin/posts/publish" method="post">  
                                    <input type="text" name="_id" value="<%= posts[i]._id %>" readonly hidden>
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <%-include('adminFooter.ejs')%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>